USE [master]
GO
/****** Object:  Database [milenio-bus]    Script Date: 01/04/2019 19:42:34 ******/
CREATE DATABASE [milenio-bus]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'milenio-bus', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\milenio-bus.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'milenio-bus_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\milenio-bus_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [milenio-bus].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [milenio-bus]
GO
/****** Object:  User [admin]    Script Date: 01/04/2019 19:42:34 ******/
CREATE USER [admin] FOR LOGIN [admin] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[MB_REGISTROS]    Script Date: 01/04/2019 19:42:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MB_REGISTROS](
	[ID_REGISTRO] [int] IDENTITY(1,1) NOT NULL,
	[DATA] [datetime] NULL,
	[ENTRADAS] [int] NULL,
	[SAIDAS] [int] NULL,
	[ID_PORTA] [int] NULL,
	[ID_TRANSPORTE] [int] NULL,
 CONSTRAINT [PK_MB_REGISTROS] PRIMARY KEY CLUSTERED 
(
	[ID_REGISTRO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MB_TRANSPORTES]    Script Date: 01/04/2019 19:42:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MB_TRANSPORTES](
	[ID_TRANSPORTE] [int] NOT NULL,
	[LOTACAO_MAXIMA] [int] NULL,
	[LOTACAO_ATUAL] [int] NULL,
	[PORTAS] [int] NULL,
 CONSTRAINT [PK_MB_TRANSPORTES] PRIMARY KEY CLUSTERED 
(
	[ID_TRANSPORTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MB_REGISTROS]  WITH CHECK ADD  CONSTRAINT [FK_MB_REGISTROS_MB_TRANSPORTES] FOREIGN KEY([ID_TRANSPORTE])
REFERENCES [dbo].[MB_TRANSPORTES] ([ID_TRANSPORTE])
GO
ALTER TABLE [dbo].[MB_REGISTROS] CHECK CONSTRAINT [FK_MB_REGISTROS_MB_TRANSPORTES]
GO
ALTER TABLE [dbo].[MB_TRANSPORTES]  WITH CHECK ADD  CONSTRAINT [CK_MB_TRANSPORTES] CHECK  (([LOTACAO_ATUAL]>=(0)))
GO
ALTER TABLE [dbo].[MB_TRANSPORTES] CHECK CONSTRAINT [CK_MB_TRANSPORTES]
GO
/****** Object:  StoredProcedure [dbo].[CadastraRegistro]    Script Date: 01/04/2019 19:42:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[CadastraRegistro]
	-- Add the parameters for the stored procedure here
	@ID_TRANSPORTE INT,
	@ID_PORTA INT,
	@ENTRADAS INT,
	@SAIDAS INT
AS
BEGIN
	INSERT INTO MB_REGISTROS (DATA, ENTRADAS, SAIDAS, ID_PORTA, ID_TRANSPORTE)
	VALUES (GETDATE(), @ENTRADAS, @SAIDAS, @ID_PORTA, @ID_TRANSPORTE)
END
GO
USE [master]
GO
